/* BOOTSTRAP TYPE STUFF                    */

#sv_trending_widget_wrap  .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation; 
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#sv_trending_widget_wrap .btn:focus,
#sv_trending_widget_wrap .btn:active:focus,
#sv_trending_widget_wrap .btn.active:focus,
#sv_trending_widget_wrap .btn.focus,
#sv_trending_widget_wrap .btn:active.focus,
#sv_trending_widget_wrap .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#sv_trending_widget_wrap .btn,
#sv_trending_widget_wrap .btn:hover,
/*#sv_trending_widget_wrap .btn:focus,*/
#sv_trending_widget_wrap .btn.focus {
  /*color: #333;*/
  text-decoration: none;
}
#sv_trending_widget_wrap .btn:active,
#sv_trending_widget_wrap .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#sv_trending_widget_wrap .btn.disabled,
#sv_trending_widget_wrap .btn[disabled],


/* CUSTOM STUFF */
#sv_trending_widget_wrap .btn, #sv_trending_widget_wrap .btn:visited, 
#sv_trending_widget_wrap .btn:focus {
color:#fff;
background:url('http://www.shoecarnival.com/static/img/site/gradient-orange.gif') repeat-x left bottom #f9b71e;
}

#sv_trending_widget_wrap .btn:hover {
color:#fff;
background-image:none;
}

/*SV Stuff      */

#sv_trending_widget_wrap {
  width: 1300px;
  background: rgba(0, 0, 0, 0);
  /* display: inline-block; */
  /* padding-left: 300px; */
  padding-top: 40px;
  margin: 0 auto;
}

#sv_trending_widget_wrap.size4{
width:900px;
}

#sv_trending_widget_wrap.size3{
width:720px;
}

#sv_trending_widget_wrap.sv_trending_widget_init {
z-index:0;
visibility:hidden;
}

#sv_trending_widget_wrap.sv_trending_widget_left {
left:0px;
right:auto;
}


#sv_trending_widget_wrap ul {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #000;
  list-style: outside none none;
  display: inline;
}

#sv_trending_widget_tab_wrap {
width:100%;
overflow:hidden;
}

#sv_trending_widget_content_wrap {
background:#fff;
border:1px solid #cacaca;
box-shadow:1px 1px 5px #cacaca;
}

#sv_trending_widget_wrap .current-viewers {
top:180px;
margin-top:0px;
}

.sv_trending_widget_left #sv_trending_widget_content_wrap {
box-shadow:-3px 3px 8px #cacaca;
}

#sv_trending_widget_content_wrap a {
/* color:#333; */
}

#sv_trending_widget_content_wrap .sv_name a:hover {
color:#999;
}

#sv_trending_widget_content_wrap a.btn {
color:#fff;
}

.sv_trending_widget_tab {
  float: left;
  color: #FFF;
  /* margin-right: 0px; */
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #B9D6EC;
  border-bottom: 3px solid #E7E7E7;
  background-color: #8FC3EA;
  cursor: pointer;
}

.sv_trending_widget_left .sv_trending_widget_tab {
float:right;
box-shadow:-1px 1px 5px #cacaca;
}

.sv_trending_widget_tab span {
font-size: 15px;
display: block;
padding: 10px;
}

.sv_trending_widget_tab_arrow {
  /* width: 0px; */
  /* height: 0px; */
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid #666;
  top: 17%;
  /* bottom: 10%; */
  /* margin-top: 350%; */
  position: relative;
}

#sv_trending_widget_content .sv-trending-type {
font-size:15px;
}

.sv_trending_arrow_right {
  height: 532px;
  width: 5%;
  cursor: pointer;
  margin-top: 5px;
  position: absolute;
  display: inline;
  right:0px;
  top:0px;
}

.sv_trending_arrow_right.size4 {
  zoom:.7;
}

.sv_trending_arrow_right.size3 {
  zoom:.6;
}

.sv_trending_arrow_right:hover {
  /*background-color:#cacaca;*/
}

.sv_trending_arrow_left {
  height: 532px;
  width: 5%;
  top:0px;
  cursor: pointer;
  margin-top: 5px;
  position: absolute;
  display: inline;
  left:0px;
}

.sv_trending_arrow_left.size4 {
  zoom:.7;
}

.sv_trending_arrow_left.size3 {
  zoom:.6;
}

.sv_trending_arrow_left:hover {
  /*background-color:#cacaca;*/
}

.arrow-right {
  background: url("http://www.scrubsandbeyond.com/App_Themes/scrubsandbeyond/graphics/next-horizontal.png") no-repeat 0 0;
  /* cursor: pointer; */
  height: 100px;
  position: absolute;
  right: 15px;
  top: 125px;
  width: 38px;
  z-index: 1200;
}

.arrow-left {
  background: url("http://www.scrubsandbeyond.com/App_Themes/scrubsandbeyond/graphics/prev-horizontal.png") no-repeat 0 0;
  /* cursor: pointer; */
  height: 100px;
  position: absolute;
  left: 15px;
  top: 125px;
  width: 38px;
  z-index: 1200;
}

.sv_arrow_disabled {
opacity:.2;
}

.sv_trending_widget_tab:hover {
  background: #004990;
  border-bottom: 3px solid #8FC3EA;
}

li.sv_trending_widget_tab.active {
  /*border: 1px solid #DADADA;*/
  background-color: #004ea5;
  background-position:initial;
  color: #fff;
  border-bottom: 3px solid #004990;
  box-shadow: 1px 1px 5px #CACACA;
  /* font-weight: 600; */
  padding-left: 5px;
}

#sv_trending_widget_content_wrap {
    clear:both;
    width: 100%;
    position:relative;
    padding-top: 5px;
    overflow:hidden;
    margin-bottom:30px;
}

#sv_trending_widget_content {
  padding-top: 20px;
  overflow: hidden;
  min-height: 330px;
  max-height: 330px;
  padding-bottom: 20px;
  width: 90%;
  padding: 5px 5%;
  overflow:hidden;
}

.sv_trending_widget_content_item {
  display: inline-block;
  width: 30%;
  /*padding-top: 2px;*/
  float:left;
}

.sv_trending_widget_content_item:last-child {
  border-bottom:none;
}

.sv_trending_widget_content_item:hover {
background:#eee;
}

#sv_trending_widget_content_inner {
display:inline-block;
  width: 100%;
  height: 460px;
  position: relative;
  overflow:hidden;

}

.sv_thumb_wrap {
float:left;
width:100%;
overflow:hidden;
}

.sv_thumb_wrap img{
/*height:auto;
width:40%;
padding:2px;*/
}

.sv_desc_wrap {
float:left;
display:inline-block;
width:calc((100% - 100px)*.74);
max-width:calc((100% - 100px)*.74);
padding-top:20px;
}

.sv_desc_wrap span {
width:100%;
text-align:center;
font-size:14px;
color:#444;
font-family:"HelveticaNeueW01-45Ligh", Sans-Serif;
}

.sv_name {
float:left;
font-weight:bold;
color:#000;
}

.sv_name:hover {
cursor:pointer;
}

.sv_partnum {
clear:both;
float:left;
}

.sv_price {
clear:both;
float:left;
}

.sv_price.has_sale {
text-decoration:line-through;
}

.sv_sale_price {
clear:both;
float:left;
color:red!important;
font-weight:bold;
}

.sv_action_wrap {
float:left;
width:calc((100% - 100px)*.24);
text-align:center;
margin-top:25px;
}

/* 
#sv_more_content {
clear:both;
width:100%;
text-align:center;
cursor:pointer;
color:#333;
font-weight:bold;
padding:5px;
}
 */
#sv_more_content:hover {
text-decoration:underline;
}

#sv_trending_widget_close {
  position: absolute;
  right: 5px;
  z-index: 10;
  cursor: pointer;
}

#sv_trending_expando_wrap {
  display: none;
}

#sv_trending_widget_wrap.sv_trending_widget_left  #sv_trending_expando_wrap {
left:auto;
right:-93px;
border-radius:5px 5px 0px 0px;
border-top:1px solid #666;
border-bottom;none;
}

#sv_trending_expando_wrap:hover {
background-image:none;
}

.customWidgetWrap {
width:100%;
position:absolute;
}

#sv_trending_widget_wrap .dept-product {
width:20%;
display:inline-block;
float:left;
position:relative;
}

#sv_trending_widget_wrap.size4 .dept-product {
width:25%;

}

#sv_trending_widget_wrap.size3 .dept-product {
width:33%;
}

.sv_facebook {
background-position:-31px -1px;
}

.sv_twitter {
background-position:-1px -px;
}

.sv_pinterest {
background-position:-59px -1px;
}

.sv_yahooMail {
background-position:-31px -28px;
}

.sv_gmail {
background-position:-1px -28px;
}

.sv_share_wrap {
display:none;
position:absolute;
left:0px;
top:5px;
padding-left:18px;
}

.deptitemprod:hover .sv_share_wrap {
display:block;
}

.deptitemprod:hover .sv-trending-type, .deptitemprod:hover div.dept-product-inner > div > i {
visibility:hidden;
}

.sv_share {
width:27px;
height:27px;
display:block;
background-image:url(../img/flat-icons.png);
margin:2px;
cursor:pointer;
float:left;
}